## Measuring Success: Splitting up the data for train, validation, and test set

Split the dataset up into the following segments:
1. Training Data: 60%
2. Validation Data: 20%
3. Test Data: 20%

## Read data

In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd/gdrive

Mounted at /gdrive
/gdrive

In [4]:
# Mounting google drive to access data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# Importing the libraries

import pandas as pd
from sklearn.model_selection import train_test_split

# Read csv files
titanic_data= '/content/drive/MyDrive/Summer_Learning/Ex_Files_Applied_Machine_Learning/Exercise_Files/titanic.csv'
titanic = pd.read_csv(titanic_data)

titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Split into train, validation and test set

In [6]:
features = titanic.drop('Survived', axis =1)
labels = titanic['Survived']

# random_state - its the initial seed for the randomiser
X_train,X_test, Y_train, Y_test= train_test_split(features, labels, test_size = 0.4, random_state = 42 )
X_test,X_val, Y_test, Y_val= train_test_split(X_test, Y_test, test_size = 0.5, random_state = 42 )

In [7]:
# Check length of each dataset
# labels - full dataset
print(len(labels), len(Y_train), len(Y_val), len(Y_test))

891 534 179 178